.icon
	display: inline-block
	width: 2em
	height: 2em
	font-size: 10px

nav
  .mnu-item
    margin-top: 0
    margin: 0

#search
  .search
    padding-right: 440px

#start
  background: url(../img/start.png) no-repeat center
  background-size: cover !important
    
#brand
  .brand-slider
    .item
      border-left: 0
    
.sotrudniki
  margin-top: 40px
  &.no-version
    .slider-all .bottom .right
      margin-top: 0
      margin-bottom: 10px
    .text
      margin-top: 32px
    .p1
      margin-top: 21px

  .slider-all .item
    padding: 20px 14px 8px !important
  .slider-all
    margin-top: 4px
    margin-bottom: 12px !important
    .img
      margin-right: 11px
  .slider .prev, .slider .next
    top: -45px !important
    margin-right: 50px !important

#page_edit, .allpage
  .button
    margin-top: 23px
  .aside
    .info-one
      padding-top: 2px
      padding-bottom: 1px      
      .a
        margin-bottom: 16px
        a, .link
          color: #0176fe
          position: relative
          display: inline-block
          font-size: 16px !important

          &.active
            div
              display: block

          & > div
            position: absolute
            left: 0
            bottom: -13px
            transform: translateY(100%)
            background: #fff
            z-index: 1
            width: 188px
            border-radius: 5px
            padding: 10px 11px
            box-shadow: 0 0 27px rgba(50,73,104,.19)
            display: none

            p
              font-size: 14px
              color: #435358
              position: relative

            &.phone
              width: 140px

            &.map
              width: 335px

            &.time
              width: 240px

            &.req
              width: 300px
              padding: 13px
              
              &.time
                width: 240px

              p
                font-size: 14px
                color: #2c383c
                position: relative
                width: 100%

                &.active
                  font-weight: bold

                  span
                    font-weight: bold

                &:last-child
                  margin: 0
                
                span
                  color: #435358
                  float: right

            &::before
              content: ''
              position: absolute
              top: -2px
              left: 13px
              width: 28px
              height: 28px
              background: #fff
              transform: rotate(45deg)


            a
              font-size: 14px

              &:hover
                text-transform: none

            ul
              padding-left: 18px
              margin: 0 0 15px

              li
                font-size: 14px
                color: #435358
                position: relative
                
                &::before
                  content: ''
                  position: absolute
                  top: 50%
                  left: -15px
                  width: 5px
                  height: 5px
                  transform: translateY(-50%)
                  border-radius: 50%
                  background: #0176fe
          span
            cursor: pointer
            font-weight: 500
    .info-two
      margin-top: 27px
      padding: 13px 10px 0
      .item
        white-space: nowrap
        display: flex
        align-items: center
        &:last-child
          margin-bottom: 16px
      img
        margin-right: 16px
    .info-all
      margin-top: 25px
      margin-bottom: -8px
      p
        margin-bottom: 10px
  .content
    .slider
      .prev,.next
        top: -40px
        margin-right: 58px
    .fadestatus
      svg
        position: relative
        top: 5px
    .head
      padding-bottom: 13px
      .h1
        padding-bottom: 10px
        margin-bottom: 0
        letter-spacing: 1px
      .version
        padding: 5px 14px
    .info
      .href
        bottom: -29px
        color: #0176fe
        font-size: 14px
        font-weight: 500
    .akcii
      margin-top: 57px
      .item
        p
          line-height: 1.4
        .button
          margin-top: 2px
          margin-left: 20px
          margin-bottom: 21px
    .tovar
      margin-top: 32px
      position: relative
      .btn
        font-size: 14px
        position: relative
        left: 50%
        transform: translateX(-50%)
        box-shadow: 0 9px 27px rgba(1,119,255,.34)
      .filter__list
        background: #ecf2fa
      .filter__layout
        position: absolute
        right: 0
        top: 0
      .filter
        top: -38px
        margin-top: 0
        background: transparent
        padding: 0
        .item
          margin-left: 14px
      .kategory
        margin-top: 24px
        a
          margin-right: 5px
      .t-title
        margin-top: 16px
        margin-bottom: 7px

.slider-all
  .p1
    padding-top: 0
  .product__version
    font-size: 17px
    margin: 0
    padding: 3px 15px
  .text
    margin-top: 19px
    display: flex
  .bottom
    margin-top: 19px
    margin-left: -14px
    margin-right: -14px
    padding-left: 14px
    padding-right: 14px
    .left
      margin-top: 8px
    .right
      margin-top: 8px

.zayavki-slider, .tovar-block
  .product
    margin: 10px
    box-shadow: 0 0 27px rgba(50, 73, 104, 0.19)

#page_user
  .tab
    .img
      .svg
        margin: 4px auto 0
        display: block
        margin-top: 4px
  .tovar-block
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: space-between
    margin-top: 16px
    .button-center
      margin-top: 5px
    .product
      margin-bottom: 15px

#footer
  .logo
    img
      position: static











.filter
  margin-top: 159px
  background: #ecf2fa
  padding: 23px 0 7px
  position: relative
  z-index: 3

  &.low
    z-index: 0

    .swiper-container
      z-index: 0

  .container
    padding: 0 37px
    position: relative

  .swiper-container 
    padding: 0 0 340px
    margin-bottom: -340px
    position: relative
    z-index: 4

  &__checkboxes
    max-height: 175px
    overflow: hidden
    padding: 0 8px
    position: relative

    .ps__rail-y
      right: 12px !important
      width: 2px

      .ps__thumb-y
        width: 12px !important
        height: 12px !important
        border-radius: 50%

        span
          display: none

    .form-check
      display: flex
      align-items: center
      margin-bottom: 10px

    label
      font-size: 14px
      color: #435358

    input
      position: relative
      width: 23px
      height: 23px
      margin-top: 0
      margin-right: 16px
      cursor: pointer
      display: block
      margin: 0
      right: -24px
      margin-left: -24px

      &:checked
        &:before
          background: url('../img/icon/check.svg') no-repeat center #fff

      &::before
        content: ''
        position: absolute
        width: 23px
        height: 23px
        left: 0
        top: 0
        background: #fff
        border: 1px solid #d1d1d1
        border-radius: 4px
        pointer-events: none
  
  &__item 
    width: initial

    &.show
      .filter__btn
        background: #0281f8
        color: #fff

        &::after
          color: #fff

    .filter__dropdown
      padding: 14px 0 7px
      border-radius: 7px
      border: 0
      margin-top: 8px
      width: 252px
      box-shadow: 0 0 61px rgba(50, 73, 104, 0.19)

      .filter__bottom
        margin: 0
        padding: 10px 15px 2px

      .btn
        font-size: 18px
        padding: 6px 18px
      
      .filter__reset
        color: #017aff
        font-size: 16px
        text-decoration: underline !important

        &:hover
          text-decoration: none !important

      &.right
        left: initial !important
        right: 0

    form
      .form-group
        position: relative
        padding: 0 8px

        svg
          position: absolute
          top: 8px
          right: 25px
          fill: #0177ff

      input 
        border-radius: 50px
        border: 1px solid #d1d1d1 !important
        font-size: 14px
        color: #889295
        padding: 6px 13px
        box-sizing: border-box

        &:hover,
        &:focus,
        &:active
          outline: none
          box-shadow: none

        &::placeholder
          color: #889295
          font-size: 14px

  &__btn 
    background: #fff
    color: #0176fe
    font-size: 14px
    padding: 6px 13px 6px 12px
    border-radius: 6px
    transition: all .2s ease-in-out

    &:hover
      background: #0281f8
      color: #fff

      &::after
        color: #fff

  &__bottom
    display: flex
    justify-content: space-between
    align-items: center
    margin-left: -24px
    margin-right: -37px
    padding: 28px 0 2px
    position: relative
    z-index: 2

  &__layout
    display: flex
    position: relative

  &__icon 
    background: #fff
    border-radius: 6px
    width: 34px
    height: 34px
    display: flex
    align-items: center
    justify-content: center
    margin-left: 12px
    cursor: pointer
    position: relative
    z-index: 1
    
    .filter__grid
      svg 
        font-size: 11px
        top: 1px
        left: 1px

    &.active
      background: #009ffd
      background: linear-gradient(to right, #009ffd 0%, #0377f7 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ffd', endColorstr='#0377f7',GradientType=1 )

      svg
        fill: #fff
        font-size: 10.5px

    svg
      fill: #435358
  
  &__nav
    color: #435358
    font-size: 15px
    position: static
    height: initial
    box-shadow: none
    background: transparent

    span 
      font-size: 15px
      font-weight: normal
      margin-right: 28px

    a 
      font-size: 15px
      font-weight: normal !important
      margin-right: 17px
      position: relative
      display: inline-block
      padding: 5px 0 5px

      &::before
        content: '';
        position: absolute
        bottom: -12px
        left: -5px
        width: 0
        height: 2px
        background: #005ff9
        transition: all .4s cubic-bezier(0.18, 0.89, 0.32, 1.28);

      &.active
        &::before
          width: calc(100% + 10px)

      &:hover
        color: #435358

        &::before
          width: calc(100% + 10px)


.swiper-button-next, .swiper-container-rtl .swiper-button-prev
  background: url('../img/icon/arrow-right.svg') no-repeat center
  right: -10px
  top: 15px
  transform: scale(1)
  transition: all .2s ease-in-out

  &:hover
    transform: scale(1.4)

  &:hover,
  &:focus
    outline: none

.swiper-button-prev, .swiper-container-rtl .swiper-button-next
  background: url('../img/icon/arrow-left.svg') no-repeat center
  left: -10px
  top: 15px
  transform: scale(1)
  transition: all .2s ease-in-out

  &:hover
    transform: scale(1.4)

  &:hover,
  &:focus
    outline: none

.dropdown-toggle::after
  vertical-align: middle

.allpage.normal
  padding: 26px 0

  .container
    padding: 0 19px

  .akcii
    margin-top: 0
    position: relative

    .akcii__left
      top: 50%
      transform: translateY(-50%)
      margin: 0
      background-size: 8px
      right: -28px

    .akcii__right
      top: 50%
      transform: translateY(-50%)
      margin: 0
      background-size: 8px
      left: -28px

    .item
      margin-top: 0
      width: initial
      padding-right: 52px !important
      margin-left: 0

      &:last-child
        margin-right: 0 !important

      p
        line-height: 1.6
        padding-left: 17px
        padding-top: 18px

      .button
        margin-top: 1px
        padding: 1px
        margin-bottom: 19px

#category.normal
  border-top: 3px solid #cdd4df
  border-bottom: 3px solid #cdd4df
  padding: 15px 0

  .container 
    padding: 0 30px

  .area 
    width: 100%
    left: 0
    justify-content: space-between

    a
      font-size: 16px
      margin-top: 17px
      transition: all .2s ease-in-out
      font-weight: normal !important

.results
  padding: 24px 0
  position: relative

  .container
    padding: 0

  .btn 
    position: relative
    left: 50%
    transform: translateX(-50%)
    margin-top: 2px

.btn
  font-size: 14px
  border-radius: 50px
  padding: 14px 44px
  display: inline-block

  &-blue
    color: #fff
    background: #009ffd
    background: linear-gradient(to right, #009ffd 0%, #0177ff 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ffd', endColorstr='#0177ff', GradientType=1 )
    box-shadow: 0px 5px 20px rgba(50, 73, 104, .19)

    &:hover
      color: #fff

.product
  display: flex
  width: 100%
  border-radius: 12px
  box-shadow: 0 0 61px rgba(50, 73, 104, 0.19)
  padding: 9px
  margin-bottom: 19px
  background: #fff

  &-vertical
    width: initial
    display: inline-block
    padding: 0
    margin-bottom: 0
    transform-style: preserve-3d

    .product__controls
      padding: 13px 10px
      display: flex

      div
        padding-left: 0 !important
        padding-right: 0 !important
        border: 0
        width: 50%
        
        &::first-child
          text-align: center
          margin: 0 1px

        &:last-child
          display: flex
          justify-content: flex-end
          align-items: center
          padding-right: 12px !important;

          a 
            position: relative
            display: inline-block
            margin-left: 30px

            svg
              position: relative
              top: 2px

            &::before
              content: ''
              position: absolute
              top: 50%
              left: 50%
              width: 40px
              height: 40px
              background: #ecf2fa
              transform: translate(-50%, -50%)
              border-radius: 50%

        &::before
          display: none

    .btn
      font-size: 15px
      padding: 8px 21px
      text-decoration: none !important
      color: #fff

    .product__count strong
      font-size: 20px
      margin-bottom: 3px

    .product__countWrap
      background: #ecf2fa
      border-top: 1px solid #d0dcdf
      border-bottom: 1px solid #d0dcdf
      margin-top: 8px
      padding: 0

      div
        width: 50%
        padding: 19px 10px

        &:first-child::before
          top: 0
          bottom: 0

    .product__production
      display: flex
      justify-content: space-between

      div:last-child
        display: flex
        justify-content: flex-end

    .product__name
      strong
        max-width: 240px
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        display: block

    .product__features
      max-width: 240px
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
      display: block
      margin-bottom: 13px

    .product__company
      margin-left: 0

    .product__companyWrap
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 6px

    .product__img
      img
        max-width: 246px

    .product__info
      padding: 0 11px
      margin-top: 13px

    .product__top
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
      border: 0
      padding: 10px 13px 0;

      a
        svg
          fill: #0176fe
          font-size: 9px

  p
    margin: 0

  &__img
    display: flex
    align-items: center
    justify-content: center

    img
      max-width: 104px

  &__info
    width: 100%
    padding-left: 21px

  &__top
    display: flex
    border-bottom: 1px solid #d0dcdf
    padding-bottom: 9px
    padding-right: 19px

  &__number
    font-size: 14px
    color: #839195

  &__center 
    display: flex
    justify-content: space-between
    padding-top: 17px
    padding-bottom: 8px

  &__name
    font-size: 16px
    color: #2c383c

    strong
      font-weight: 500
      display: inline-block
      margin-bottom: 9px

  &__features
    font-size: 14px
    color: #839195

    p
      margin-right: 9px

  &__bottom
    display: flex
    justify-content: space-between
    border-top: 1px solid #d0dcdf
    padding-top: 11px

  &__production
    font-size: 14px
    color: #839195
    display: flex
    align-items: center

  &__company
    margin-left: auto
    color: #0176fe
    font-size: 15px

  &__flag
    margin-left: 8px
    margin-right: 15px
    width: 18px

  &__colors
    margin-left: 5px
    display: flex
    align-items: center
  
  &__color 
    display: inline-block
    width: 12px
    height: 12px
    border-radius: 50%
    background: #000
    margin: 0 3px

    &.red
      background: #ff0000
      
    &.blue
      background: #00b4ff

    &.green
      background: #00ff24

  &__version
    background: #009ffd
    background: linear-gradient(to right, #009ffd 0%, #0377f7 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ffd', endColorstr='#0377f7',GradientType=1 )
    color: #fff
    border-radius: 20px
    font-size: 12px
    font-weight: bold
    padding: 2px 9px
    margin-left: 14px

  &__desc
    flex-grow: 1
    
  &__countWrap
    display: flex
    padding-right: 10px

    div
      padding: 3px 0

      &:first-child
        padding-right: 28px
        position: relative

        &::before
          content: ''
          position: absolute
          right: 1px
          top: -9px
          bottom: 0
          width: 1px
          background: #d0dcdf
      
      &:last-child
        padding-left: 13px

    span
      font-size: 14px
      color: #839195
  
  &__count
    color: #2c383c
    font-size: 17px    

    strong
      font-size: 16px
      display: inline-block
      margin-bottom: 8px

  &__features
    display: flex

  &__controls
    display: flex
    padding-right: 20px

    div
      &:first-child
        padding-right: 16px
        position: relative
        top: 2px

        &::before
          content: ''
          position: absolute
          right: 0
          top: 0
          bottom: 0
          width: 1px
          background: #d0dcdf

        a:not(.btn)
          display: inline-block
          margin: 0 3px
          transform: scale(1)
          transition: all .2s ease-in-out

          &:hover
            transform: scale(1.2)

      &:last-child
        padding-left: 16px
    
    a
      color: #0176fe
      text-decoration: underline !important

    svg
      fill: #0176fe
      font-size: 9px

.badges
  .item-wrap
    padding-right: 15px
    padding-left: 15px

.interests
  .container
    display: flex
    justify-content: space-between
    padding: 0

.all
  .modal-dialog
    max-width: 1070px

  .modal-body    
    padding: 22px 53px
    position: relative

    .reset
      text-decoration: underline !important
      color: #0176fe

      &:hover
        text-decoration: none !important

    .choice
      position: absolute
      right: 80px
      top: 26px
      bottom: 39px
      background: #fff
      border-radius: 10px
      width: 268px
      box-shadow: 0 0 61px rgba(50, 73, 104, 0.19)
      padding: 15px 27px

      &__controls
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        border-top: 1px solid #d0dcdf
        padding: 16px 26px

        .btn
          font-size: 16px
          padding: 11px 20px          
      
      h3
        margin-bottom: 17px

      ul
        padding: 0

        li
          display: flex
          align-items: center
          color: #435358
          font-size: 16px
          margin-bottom: 13px

          svg
            font-size: 5px
            fill: #0179ff
            margin-left: 6px
            position: relative
            top: 1px
            cursor: pointer

    .wrap
      max-height: 592px
      overflow: auto
      position: relative

    .letter
      color: #2c383c
      font-weight: 500
      font-size: 20px
      margin-bottom: 19px

    .citys
      & > div
        width: 240px
        display: inline-block

        div:not(.dropdown-menu)
          display: block
          color: #435358
          font-size: 16px
          font-weight: normal !important
          transition: all .2s ease-in-out
          margin-bottom: 13px
          cursor: pointer

          span
            position: relative

          .tooltip
            background: #fff
            display: none
            width: 258px

            &::before
              content: ''
              position: absolute
              left: -5px
              top: 50%
              transform: translateY(-50%) rotate(45deg)
              width: 20px
              height: 20px
              background: #fff

            button
              background: #ecf2fa
              font-size: 14px
              margin-right: 5px

              &:hover
                color: #ecf2fa
                background: #0176fe
                
          &.active
            color: #0281f8
            position: relative

            .tooltip
              display: flex
              position: absolute
              flex-wrap: wrap
              justify-content: flex-start
              right: -25px
              top: 50%
              transform: translateY(-50%) translateX(100%)
              z-index: 1
              box-shadow: 0 0 49px rgba(50, 73, 104, .19)
              border-radius: 5px
              padding: 10px 0 0 18px

          &:hover
            color: #0281f8

  .modal-header
    background: #ecf2fa
    display: flex
    flex-direction: column
    align-items: center
    padding: 56px 0 18px
    position: relative

    button
      position: absolute
      right: 23px
      top: 23px
      color: transparent
      background: url('../img/icon/close.svg') no-repeat center

    .form-group
      width: 100%
      margin-top: 25px
      padding: 0 53px
      position: relative

      svg
        fill: #0e87f7
        position: absolute
        top: 11px
        right: 71px
        cursor: pointer

    input
      width: 100%
      padding: 13px 21px
      border-radius: 50px
      border: 1px solid #d1d1d1 !important
      color: #889295
      font-size: 14px

      &::placeholder
        color: #889295
        font-size: 14px

    .letters
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
      padding: 0 53px

      a
        color: #bdc4cd
        font-size: 18px
        position: relative
        display: inline-block

        &::before
          content: ''
          position: absolute
          top: 50%
          left: 50%
          width: 0
          height: 0
          background: #0281f8
          border-radius: 50%
          transform: translate(-50%, -50%)
          transition: all .2s cubic-bezier(0.68, -0.55, 0.27, 1.55)

        span 
          position: relative
          top: 1px

        &.active
          color: #fff

          &::before
            width: 27px
            height: 27px

    h3
      color: #2c383c
      font-size: 20px
      font-weight: 500
      margin-bottom: 30px
  
.ps__rail-y
  width: 5px
  background: #cdd4df !important
  right: 5px !important
  opacity: 1 !important
  display: block
  height: 100%

  &:hover
    background: #cdd4df !important

    .ps__thumb-y
      width: 15px
      right: -5px

.ps__thumb-y
  width: 15px !important
  right: -5px
  background: #009ffd
  background: linear-gradient(to right, #009ffd 0%, #0377f7 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ffd', endColorstr='#0377f7',GradientType=1 )
  border-radius: 50px
  height: 31px !important

  span
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 7px
    height: 7px
    background: url('../img/icon/scrollbar.svg') no-repeat center
    background-size: cover


#category 
  .catbut 
    .item
      position: relative

      .bg
        position: absolute
        top: 0
        left: 0
        bottom: 0
        background: #009efd
        width: 20px
        border-radius: 10px

      &:hover
        background-color: transparent

        p
          transition-delay: 200ms

        &::before
          width: 100%
          border-radius: 0

      &::before
        content: ''
        position: absolute
        top: 0
        left: 6px
        width: 98px
        bottom: 0
        border-radius: 0 50% 50% 0
        background: #009ffd
        background: linear-gradient(to right, #009ffd 0%, #0377f7 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ffd', endColorstr='#0377f7',GradientType=1 )
        transition: all .6s cubic-bezier(0.68, -0.55, 0.27, 1.55)
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px

      .svg-wrap
        background-color: transparent

        img 
          position: relative

        svg
          position: relative

.checklist
  position: absolute
  right: 0
  top: 24px
  background: #fff
  padding: 10px 15px
  box-shadow: 0 0 61px rgba(50, 73, 104, 0.19)
  text-align: center
  border-radius: 7px
  border-top-left-radius: 0
  z-index: 5
  transform: translateX(100%)
  transition: all .4s ease-in-out

  &.open 
    transform: translateY(0)    

  &.active
    border-top-left-radius: 0

    .open-checklist
      opacity: 0

    .content
      height: 710px

    .close
      transform: translateX(-100%)
      opacity: 1

  .open-checklist
    position: absolute
    left: 0
    top: 0
    width: 60px
    height: 60px
    border-top-left-radius: 50%
    border-bottom-left-radius: 50%
    cursor: pointer
    transition: all .2s ease-in-out
    transform: translateX(-100%)
    background: #e9f1fc
    border-top: 1px solid #0176fe
    border-left: 1px solid #0176fe
    border-bottom: 1px solid #0176fe
    display: flex
    justify-content: center
    align-items: center
    transition: all .2s ease-in-out

    &::before
      content: ''
      position: absolute
      width: 40px
      height: 40px
      top: 50%
      transform: translateY(-50%)
      left: 10px
      border-radius: 50%
      background: #fff

    img
      width: 25px
      position: relative
      top: -1px
      left: 1px

  .close
    position: absolute
    left: 0
    top: 7px
    transform: 0
    background: url('../img/icon/minus.svg') no-repeat center #0177ff
    width: 50px
    height: 50px
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
    cursor: pointer
    transition: all .2s ease-in-out
    opacity: 0

  .content
    height: 0
    overflow: hidden
    transition: all .2s ease-in-out

  .item
    width: 243px
    border-radius: 10px
    border: 1px solid #cdd4df
    padding: 6px 15px !important
    margin-bottom: 23px

    &__bottom
      display: flex
      align-items: center

    .color
      width: 12px
      height: 12px
      display: inline-block
      background: #000
      border-radius: 50%
      margin-left: 10px

      &-green
        background: #00ff24

    &__desc
      & > div
        text-align: left
        margin-bottom: 7px
        font-size: 14px

        input
          display: inline
          width: 65px
          border-radius: 50px
          border: 1px solid #cdd4df !important
          text-align: center
          font-size: 15px

        span
          font-weight: 500

    &__name
      font-size: 16px
      font-weight: 500
      color: #2c383c

    &__top
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 10px

      p
        margin: 0

      img
        max-height: 50px

  &__title
    color: #2c383c
    font-size: 20px
    font-weight: 500
    margin-bottom: 5px

  .btn
    font-size: 15px
    padding: 10px 17px
    position: static
    transform: none

.searchall
  position: absolute
  right: 274px
  top: 35px

.questions
  padding-top: 40px
  padding-bottom: 20px

  h2
    color: #2c383c
    font-size: 32px
    font-weight: bold
    margin-bottom: 25px

  .container
    padding: 0

  .aside
    flex: 0 0 28.33333%
    max-width: 28.33333%


.questions-cat
  background: #fff
  border-radius: 30px
  padding: 20px
  box-shadow: 0 0 61px rgba(50, 73, 104, 0.19)
  padding: 28px 25px 4px
  margin-left: 16px
  border-radius: 14px
  width: 100%

  ul
    padding: 0

    li 
      margin-bottom: 18px

    a
      color: #0179ff
      font-size: 14px
      font-weight: 500

      &:hover
        text-decoration: underline !important

.qest
  display: flex
  justify-content: space-between
  align-items: center
  background: #fff
  box-shadow: 0 0 61px rgba(50, 73, 104, 0.19)
  margin-bottom: 15px
  color: #2c383c
  padding: 21px 20px
  border-radius: 10px
  cursor: pointer
  position: relative

  img
    transition: all .2s ease-in-out

  &.active
    img
      transform: rotate(-180deg)

  p
    margin: 0
    font-size: 20px
    font-weight: 500


.answer  
  background: #fff
  box-shadow: 0 0 61px rgba(50, 73, 104, 0.19)
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  margin-top: -25px
  display: none
  overflow: hidden
  padding: 0
  margin-bottom: 30px

  .wrap
    padding: 21px 20px

  .flex
    display: flex
    justify-content: space-between
    margin-bottom: 15px

  p
    font-size: 16px
    color: #435358

.logo img
  position: absolute
  top: 6px

.sugestion
  padding: 24px 0
  position: relative

  .groups
    margin-top: 40px

  .group
    width: 100%
    display: flex
    box-shadow: 0 0 61px rgba(50, 73, 104, 0.19)
    border-radius: 10px
    position: relative
    background: #fff
    margin-bottom: 30px

    &.active
      .group__toggle
        background: #009ffd
        background: linear-gradient(to right, #009ffd 0%, #0377f7 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ffd', endColorstr='#0377f7',GradientType=1 )

        span
          color: #fff

        svg
          fill: #fff

    &__toggle
      background: #ecf2fa
      display: flex
      position: relative
      padding: 0 63px
      border: 1px solid #d0dcdf !important
      border-left: 0 !important
      cursor: pointer
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px

      &:hover
        background: #009ffd
        background: linear-gradient(to right, #009ffd 0%, #0377f7 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ffd', endColorstr='#0377f7',GradientType=1 )

        span
          color: #fff

        svg
          fill: #fff

      span
        position: absolute
        top: 55px
        left: 23px
        color: #2c383c
        font-size: 18px
        font-weight: bold

      svg
        position: absolute
        bottom: 53px
        left: 53px
        fill: #2c383c
        transform: scale(1.4)

    &__item
      border-right: 1px solid #d0dcdf
      text-align: center
      flex-grow: 1
      padding-top: 38px
      position: relative

      p
        font-size: 16px
        color: #839195

      span
        font-size: 20px  
        font-weight: bold
        color: #2c383c
        position: absolute
        bottom: 40px
        left: 50%
        transform: translateX(-50%)

    &__buy
      padding: 20px 43px
      text-align: center
      border-right: 1px solid #d0dcdf

      p
        color: #2c383c
        font-weight: 500
        margin-bottom: 14px

      .btn
        padding: 14px 66px
        font-size: 16px

      div
        margin-top: 18px
        text-align: left
        display: flex
        justify-content: space-between

        .company
          font-size: 16px
          color: #0176fe

        .version
          background: #009ffd
          background: linear-gradient(to right, #009ffd 0%, #0377f7 100%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ffd', endColorstr='#0377f7',GradientType=1 )
          color: #fff
          border-radius: 20px
          font-size: 12px
          font-weight: bold
          padding: 2px 9px
          margin-left: 14px

  .choice
    display: flex

    &__item
      width: 33.333333%
      display: flex
      justify-content: center
      align-items: center
      border-right: 1px solid #d0dcdf
      cursor: pointer

      &:first-child
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px

      &:last-child
        border-top-right-radius: 10px
        border-bottom-right-radius: 10px

      &.active
        background: #009ffd
        background: linear-gradient(to right, #009ffd 0%, #0377f7 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ffd', endColorstr='#0377f7', GradientType=1 )
        color: #fff

      &:last-child
        border: 0

    p
      margin: 0
      line-height: 1.4
      font-size: 15px

      strong
        font-size: 16px

    & > div:first-child
      width: 400px
      display: flex
      align-items: center
      padding: 15px 0
    
    & > div:last-child
      box-shadow: 0 0 61px rgba(50, 73, 104, 0.19)
      width: 100%
      display: flex
      font-size: 16px
      font-weight: 500
      color: #2d3e57
      border-radius: 10px

.group-list
  background: #e8eaee
  padding: 40px
  margin-top: -49px
  padding: 42px 28px 1px
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  margin-bottom: 30px
  display: none


.mnu.align-self-center
  margin: 0
  
.slick-slide 
  &:hover,
  &:focus
    outline: none

#page_user.questions
  .aside
      flex: 0 0 26.33333%
      max-width: 26.33333%

  .col-sm-8.content
    padding-left: 0
    flex: 0 0 68.66667%
    max-width: 68.66667%
  

.slick-dotted.slick-slider 
  margin-bottom: 23px


.modal:not(.all)
  .modal-dialog
    max-width: 664px
    
  .modal-body
    padding: 5px 21px

  .modal-content
    border: 0

  .modal-header
    border: 0
    button
      position: absolute
      right: 23px
      top: 23px
      color: transparent
      background: url('../img/icon/close.svg') no-repeat center

  h2
    font-size: 20px
    font-weight: 500
    color: #2c383c
    text-align: center
    width: 100%
    margin-top: 20px

  table
    tr
      border-bottom: 1px solid #d0dcdf

      &:last-child
        border: 0

    td
      vertical-align: top
      padding: 18px 0

      &:first-child
        width: 200px

      p
        font-size: 16px
        color: #2c383c
        margin-bottom: 5px

        &.blue
          color: #017dff
          font-weight: 500

  &.types
    .modal-dialog
      max-width: 664px

.modal-bg 
  height: 198px
  width: 100%
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  border-radius: 12px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-bottom: 30px

  .btn
    font-size: 20px
    padding: 8px 27px
    margin-bottom: 12px

  p
    color: #fff
    font-weight: bold
    font-size: 22px
    text-align: center
    margin: 0

.tovar
  .product  
    margin-left: 0
    margin-right: 0

#page_edit .content .info, .allpage .content .info 
    margin-top: 20px

#page_edit .content .pen .svg, .allpage .content .pen .svg
  margin-top: 7px

#page_edit .col-sm-8.content
  flex: 0 0 66.66667%
  max-width: 66.66667%

#page_edit .content .akcii, .allpage .content .akcii
  margin-top: 50px

#page_edit .content .akcii .item .pen, .allpage .content .akcii .item .pen
  bottom: 0

  svg
    margin-top: 12px

#page_edit .content .tovar, .allpage .content .tovar
  margin-top: 24px

#page_edit .content .tovar .t-title, .allpage .content .tovar .t-title
  margin-bottom: 19px

#page_edit .content .tovar .reg .item, .allpage .content .tovar .reg .item
  margin-right: 3px

#page_edit .content .t-item-wrap .t-item, .allpage .content .t-item-wrap .t-item
  padding: 11px 18px

#page_edit .content .t-item-wrap .t-item .top .brand .version
  padding: 1px 10px

#page_edit .content .t-item-wrap .t-item .top
  height: 27px

#page_edit .content .t-item-wrap .t-item .center .info
  margin-bottom: 0

#page_edit .content .t-item-wrap .t-item .center .info b, .allpage .content .t-item-wrap .t-item .center .info b
  padding: 1px 13px
  margin-left: 0px

#page_edit .content .t-item-wrap .t-item .center .info
  margin-right: 1px

#page_edit .content .t-item-wrap .t-item .center, .allpage .content .t-item-wrap .t-item .center
  padding-bottom: 11px

#page_edit .t-item .linfo
  position: relative
  top: -8px

#page_edit .content .t-item-wrap .t-item .center .right .right-block.border, .allpage .content .t-item-wrap .t-item .center .right .right-block.border
  border: 0
  position: relative

  &::before
    content: ''
    position: absolute
    top: -4px
    left: 0
    bottom: 15px
    width: 1px
    background: #d0dcdf

#page_edit .content .t-item-wrap .t-item .bottom .info, .allpage .content .t-item-wrap .t-item .bottom .info
  margin-top: 8px


#page_edit .content .t-item-wrap .t-item .bottom .info.prod, .allpage .content .t-item-wrap .t-item .bottom .info.prod
  font-size: 14px

#page_edit .content .t-item-wrap .t-item .bottom .info, .allpage .content .t-item-wrap .t-item .bottom .info
  font-size: 14px

#page_edit .content .t-item-wrap .t-item
  height: 190px

#page_edit .content .t-item-wrap .button-center, .allpage .content .t-item-wrap .button-center
  margin: 0
  position: relative
  left: 50%
  transform: translateX(-50%)

#page_edit
  .slider-all .p1
    margin-top: 4px

.slider-all .bottom .right .rev-but
  height: 36px

.sotrudniki.no-version .p1
  margin-top: 21px !important

.slider-all .bottom .left
  margin-top: 0

.zayavki-slider .img
  margin-bottom: 5px

.zayavki-slider .t-item .brand .version
  padding: 2px 9px

#page_edit .content.zayavki .t-item .center, .allpage .content.zayavki .t-item .center
  margin-top: 3px

#page_edit .content .zayavki .t-item .center .info b, .allpage .content .zayavki .t-item .center .info b
  padding: 1px 8px
  margin-bottom: 4px

#page_edit .content.zayavki .t-item .bottom, .allpage .content .zayavki .t-item .bottom
  margin-top: 10px

#page_edit .content .zayavki .t-item .center .right, .allpage .content .zayavki .t-item .center .right
  .rinfo
    margin-top: 19px
  
  .linfo
    margin-bottom: 7px


#page_edit .content .zayavki .t-item .center .right .right-block:not(.border)
  position: relative
  left: 16px

#page_edit .content .zayavki .t-item .center .right .right-block.border
  padding-left: 20px
  text-align: center

  &::before
    bottom: -5px

#page_edit .content .zayavki .t-item .bottom .right .right-block
  position: relative
  top: -4px

.sotrudniki .slider-all .bottom .right
  margin-top: 0

.product__count
  white-space: nowrap


.addproduct
  .btn
    font-size: 18px
    position: relative
    left: 50%
    transform: translateX(-50%)
    margin-top: 30px
    margin-bottom: 20px
  a
    white-space: nowrap
    font-weight: 500
    color: #0179ff
    margin-top: 20px

    span
      text-decoration: underline
  .row
    flex-wrap: nowrap
    margin-bottom: 20px

  .column
    padding: 0 7px
    width: 100%

  .v-col
    padding: 0 20px

    .row
      padding: 0 10px
      margin-bottom: 0

    &:last-child
      width: 100%
      padding-left: 10px

  .form-group
    width: 100%
    position: relative
    margin-bottom: 10px

    img
      position: absolute
      right: 14px
      top: 50%
      transform: translateY(-50%)
      width: 16px
      cursor: pointer

    input, textarea
      width: 100%
      border: 1px solid #d1d1d1 !important
      border-radius: 50px
      padding: 10px 17px
      font-size: 16px

    textarea
      border-radius: 10px
      height: 105px

  .add-photo
    width: 210px
    height: 210px
    box-shadow: 0 0 27px rgba(50, 73, 104, 0.19)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    border-radius: 10px
    cursor: pointer

    span
      color: #0179ff
      text-decoration: underline

    img
      margin-bottom: 10px

  .modal-dialog
    max-width: 853px !important
    width: 853px

.time
  .modal-dialog
    max-width: 523px !important
    width: 523px
  
  a
    display: inline-block
    margin-top: 0
    margin-bottom: 20px

  .btn
    margin-top: 0
  
.view
  .row
    margin-bottom: 0

  .modal-dialog
    max-width: 665px !important
    width: 665px

  a
    display: inline-block
    margin-top: 0
    margin-bottom: 20px

  .btn
    margin-top: 0

.addstock
  .add-photo
    width: 100%
    margin-bottom: 30px

  .row
    margin-bottom: 0
  .btn
    margin-top: 0

#page_edit .aside .info-one .a, .allpage .aside .info-one .a
  position: relative

.edit-menu
  position: absolute
  right: 14px
  cursor: pointer
  top: 50%
  transform: translateY(-50%)

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  text-transform: initial

#page_edit .content .akcii .item .bg, .allpage .content .akcii .item .bg
  height: 100%

#page_edit hr 
  float: none
  margin-top: 0

#page_edit .button-center
  margin-left: 0
  margin-right: 0
  position: relative
  left: 50%
  transform: translateX(-50%)

#page_user .button-center
  margin-left: 0
  margin-right: 0
  position: relative
  left: 50%
  transform: translateX(-50%)

#header
  background-size: cover

nav .mnu-item
  position: relative

  .user-menu
    position: absolute
    display: none
    background: #fff
    padding: 0 0
    right: 0
    bottom: 20px
    transform: translateY(100%)
    padding: 5px 19px
    border-radius: 10px
    box-shadow: 0 0 27px rgba(50,73,104,.19)

    &.active
      display: block
      z-index: -1

    li
      border-bottom: 1px solid #d0dcdf
      padding-right: 10px

      &:last-child
        border-bottom: 0

      a
        font-size: 14px
        color: #435358
        transition: all .2s ease-in-out
        display: inline-block
        padding: 5px 0

        &:hover
          color: #0176ff

nav
  z-index: 9999

.filter__item form input[type="text"]
  height: 36px

.filter__item form svg.icon
  cursor: pointer

#category .item a
  color: #435358

  &:hover
    color: #0176ff

nav .mnu-item a
  color: #435358

  &:hover
    color: #0176ff

#category .catbut p
  left: -14px

.filter__nav a
  color: #435358

  &:hover
    color: #0176ff

.filter__nav a::before
  bottom: -10px

#artikles .data
  padding: 2px 12px