<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="item logo"><img src="img/icon/logo_white.svg" alt="Alt"></div>
            <div class="item">
                <a href="#">Поиск</a>
                <a href="#">Заказы</a>
                <a href="#">Отклики</a>
            </div>
            <div class="item">
                <a href="#">Сделки</a>
                <a href="#">Расчет</a>
                <a href="#">Вопросы и ответы</a>
            </div>
            <div class="item">
                <a href="#">О проекте</a>
                <a href="#">Работа с сайтом</a>
                <a href="#">Статьи</a>
            </div>
            <div class="item">
                <a href="#">Лицензионный договор</a>
                <a href="#">Агентский договор</a>
                <a href="#">Политика конфиденциальности</a>
            </div>
            <div class="item">
                <a href="tel:+7 (495) 000-00-00" class="tel"><img src="img/icon/small/phone.svg">+7 (495) 000-00-00</a>
                <a href="#" class="soc"><img src="img/icon/small/vk.svg"></a>
                <a href="#" class="soc"><img src="img/icon/small/face.svg"></a>
                <a href="#" class="soc"><img src="img/icon/small/insta.svg"></a>
                <a href="#" class="soc"><img src="img/icon/small/tube.svg"></a>
                <a href="#" class="soc"><img src="img/icon/small/telega.svg"></a>
                <a href="#" class="soc"><img src="img/icon/small/twiter.svg"></a>
            </div>

        </div>
    </div>
    <hr class="hr">
    <div class="cop">©2018 Company, Все права защищены.  Использование материалов с сайта только с согласия правообладателей</div>
</footer>


<script src="js/scripts.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.min.js"></script>
<script src="libs/swiper/js/swiper.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
